<h2>Contact Details</h2>
<form action="/action_page.php">
    <label for="fname">Email:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Mobile:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Country:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="button" class="button" routerLink="/personal-dtls" value="Back">
    <input type="button" class="button" routerLink="/skills" value="Next">   
  </form>